# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\marce\OneDrive\Pulpit\Studia\SEMESTR 6\Modelowanie wieloskalowe\Laby\Sitko1\Grafika3D\.idea/dataSources/
/dataSources.local.xml
